.header-bg{
    background-image: url('../images/Documents/Image_Banner.jpg');
    background-position: center bottom;
    background-color: #fff;
    background-repeat: no-repeat;
    color: #000 !important; 
    background-size: 100%;

}
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}
.flex-item {
    margin: 1%;
}
.navbar-left {
  float: left;
  margin-left: 10px;
}
.navbar-custom-bg {
    background-color: transparent;
    text-decoration: none !important;
    border-color: transparent;  
}
.navbar-custom .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
}
.navbar-custom .navbar-nav>li>span>a {
    color: #000;
    background-color: transparent;
}
.navbar-custom .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-brand-custom{
  margin-top: -4%;
}
.custom-navbar-menu{
  border-style:solid;
  border-width:thin;
  display: block;
  padding: 5px 18px;
  margin-top:2%;
  text-decoration: none;
}
.input-group [type='text']{
  display: inline-block;
  height: 49px;
}
.cart-button{
  background-color: #070d4b; 
  border: 2px solid #070d4b;
  color: #fff;
  height: 50px;
  width: 100%;
}
.add-to-cart-m{
  margin-right:4%;
}
.agreement-img-bg{
  width:80%;
}
.banner-header{
  color: #009fe1;
  font-weight: 600;
}
.banner-para{
  color: #c1c1c1;
  margin-bottom: 4%;
}
/*.cart-button>img{
  width: 30%
}*/
/* dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {display:block;}


/* Sections */

.document-sections-bg{
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.document-data-bg{
  background: #fff;
}
body{
    margin:0 auto;
    padding: 0;
    background: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .width-60{
    width: 60%!important;
  }
}  
/* checking for mobile screen width */
@media screen and (max-width: 768px) {
  .m-display-flex{
    display: flex;
  }
  .home-section-header{
    font-size: 24px;
    color: #1db0e6;
    width: 70%;
  }
  .flex-item {
    font-size: 8px;
    clear: both;
    margin:6%;
  }
  #cart-button{
    height: 50px;
    width: 90px;
    float: right;
  }
  .dropdown {
    position: relative;
    display: inline-block;
}
 /* .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99; 
    left: 0;
    top: 0;
    overflow-y: hidden; 
    transition: 0.5s; 
}
*/
/* Position the content inside the overlay */ 
/*.overlay-content {
    background-color: #184799!important;
    position: relative;
}*/

  #logo{
    height: 55px;
    width: 55px;
  }
  #searchButton{
    margin-top: 8%;
  }
  .flex-container{
    overflow-x: scroll;
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}