/* Header */
.header-bg{
    margin-bottom: 0px;
    background-image: url('../images/Home/Web Banner/Image_Main_Banner.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white !important;    
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}
.flex-item {
    margin: 1%;
}
.navbar-left {
  float: left;
  margin-left: 10px;
}
.navbar-custom-bg {
    background-color: transparent;
    text-decoration: none !important;
    border-color: transparent;  
}
.navbar-custom .navbar-nav>li>a {
    color: #fff;
}
.navbar-custom .navbar-nav>li>span>a {
    color: #fff;
    text-decoration: none;
}
.navbar-custom .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
    color: #fff;
    background-color: inherit ;
}
.navbar-custom .nav > li > a:hover{
    background-color:#e7e7e7;
}
.navbar-brand-custom{
  margin-top: -4%;
}
.custom-navbar-menu{
  border-style:solid;
  border-width:thin;
  padding: 5px 10px;
  margin-top:2%;
  text-decoration: none;
}
.input-group [type='text']{
  display: inline-block;
  height: 49px;
}
.cart-button{
  background-color: #070d4b; 
  border: 2px solid #070d4b;
  color: #fff;
  height: 50px;
  width: 100%;
}
.add-to-cart-m{
  margin-right:4%;
}

.header-btn{
  padding: 8px 8px;
  border: 0 none;
  letter-spacing: 1px;
  text-decoration: none; 
}
 .custom-navbar-menu>.active>span> a:focus{
    color: #fff;
    background-color:#b12434 ;
}
.custom-navbar-menu>span> a:hover{
    background-color:#b12434;
    padding-top: 2px;
    padding-bottom: 2px;
}
.btn-search{
  background: #1db0e6;
}
/*.cart-button>img{
  width: 30%
}*/
/* dropdown in the flex box div*/
/*.dropdown {
    position: relative;
    display: inline-block;
}*/
.dropbtn{
  cursor: pointer;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {display:block;}


/* Sections */

body{
    margin:0 auto;
    padding: 0;
    background: #f7f7f7;
}
.home-bg-blue-p-text{
    color: #c1c1c1;
    font-size: 10px;
}
.home-bg-white-p-text{
    font-size: 10px;
}

.home-sections-bg{
    background: #fff;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home-sections-bg-blue{
  background: #0c385b;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.line-break{
   display: block;
}
.home-center-data{
     text-align: left;
}

.home-data-row{
    margin-top: 2%;
    margin-bottom: 2%;
}
.section-height{
    height: 500px;
}
.home-testimonial{
    z-index: -1;
    align-content: center;
}
.home-section-header{
  font-size: 35px;
  color: #1db0e6;
  font-style: medium;
  font-family: stag-Medium;
}
.home-section-text-title{
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.home-section-text-title-white-bg{
  font-size: 18px;
  font-weight: 500;
  color: white
}
.home-section-text{
  font-size: 16px !important;
  font-weight: 300;
  color: #9a9999;
}
a.home-section-link{
  font-size: 12px;
  font-weight: 500;
}
.home-footer{
  background: #212121;
  margin-top: 2%;
  margin-bottom: 2%;
}
.footer-head{
  color: #c1c1c1;
  font-size: 14px;
}
.footer-content{
  color: #c1c1c1;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .width-60{
    width: 60%!important;
  }
}  
/* checking for mobile screen width */
@media screen and (max-width: 768px) {
  .m-display-flex{
    display: flex;
  }
  .home-section-header{
    font-size: 24px;
    color: #1db0e6;
    width: 70%;
  }
  .flex-item {
    font-size: 8px;
    clear: both;
   /* margin:6%;*/
  }
  #cart-button{
    height: 50px;
    width: 90px;
    float: right;
  }
  .dropdown {
    position: relative;
    display: inline-block;
}

/* side nav menu for mobile  */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color:#0e2f7e!important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-size: 8px;
}
.navbar-custom .navbar-nav>li>span>a {
    color: #fff;
    display: inline;
    padding-left: 10px;
}
  #logo{
    height: 55px;
    width: 55px;
  }
  #searchButton{
    margin-top: 8%;
  }
  .flex-container{
    overflow-x: scroll;
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
  .testimonial_left{
    font-size: 12px !important;
  }
  .client-name{
    font-size: 12px !important;
  }
  .testimonial_center{
    height: 150px;
    width: 150px;
  }
  a.home-section-link{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10%;                                
    display: block;
  }
  .btn-info-mobile{
    border-radius: 12px;
    font-size: 10px;
    margin: auto;
  }
}

.home-sections-margins{
  margin: auto 5%;
}
.home-sections-footer-margins{
  margin: auto 10%;
}
hr{
  margin: 0;
}

.icons_container {
  display: flex; 
  justify-content: flex-start; 
}

.icon_left {
  align-self: stretch;
  margin-left: 4px;
}

.icon_center {
  align-self: center;
  margin-left: 4px;
}

.icon_right {
  align-self: flex-end;
  margin-left: 4px;
}

.padding_left{
  padding-left: 10px;
}
.verticalLine {
  border-left: thin solid #c1c1c1;
  padding-left: 12px;
}
.buttonStyle{
  width: 100%;
  background: #212121;
  color: #c1c1c1;
  border: 1px solid #c1c1c1;
  padding: 10px;
}
.copyRightText{
  text-align: center;
  color: #c1c1c1;
}
.custom_hr { 
  display: inline-block;
  width:40%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.3px;
}

 .client-section-header{
  font-size: 35px;
  color: #1db0e6;
  text-align: right;
  padding-top: 5%;
}
.display-condition{
  display: none
}
.client-name{
  color: #1db0e6;
  font-size: 16px;
  margin-top: 20%;
  text-align: right;
  
}
.testimonial_left {
  align-self: stretch;
  margin-left: 4px;
  color:#c1c1c1;
  font-size: 16px;
  font-weight: 300;
}

.testimonial_center {
  align-self: center;
}

.testimonial_right {
  align-self: center;
}

a{
  font-size: 14px;
  color: #1db0e6;
}

.testimonial_container {
  display: flex; 
  justify-content: flex-start; 
}
.mySlides{
  display: none;
  margin-top: 10%;
  align-self: flex-start;
}
.testimonial_block_right{
  align-self: center;
}


