.document-bg{
    background-image: url('/src/assets/images/Documents/Image_Banner.jpg') !important;
    background-position: center bottom; 
    background-color: #fff;
    background-repeat: no-repeat;
    color: #000 !important; 
    background-size: 100%; 
}
.business-bg{
    background-image: url('/src/assets/images/startABusiness/Image_Banner.png') !important;
    background-position: right bottom; 
    background-color: #fff;
    background-repeat: no-repeat;
    color: #000 !important; 
    background-size: 100%; 
}


.navbar-custom .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
}
.navbar-custom .navbar-nav>li>span>a {
    color: #000;
    background-color: transparent;
}
.banner-header{
    color: #009fe1;
    font-weight: 900;
    font-size: 30px;
}

.business-header{
    color: #009fe1;
    font-weight: 900;
    font-size: 30px;
}
.business-header-conent{
    padding:0px 60px;
}


.content-header{
    color:black;
    font-weight: 400;
    font-size: 30px;
    font-family: "PTN77F"; 
    
}
.content-header>p{
    font-family: "PTC55F";  
}
.document-sections-bg{
    margin-top: 2%;
    margin-bottom: 2%;
}
.document-data-bg{
    background: #fff;
    align-self: stretch;
    /* width: 40%; */
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.black{
    color: black;
}

body{
    margin:0 auto;
    padding: 0;
    background: #f7f7f7;
}

.document-sections-margins{
  margin: auto 5%;
}

.documents-section-button{
  width: auto;
  background: white;
  color: #1db0e6;
  border: 2px solid #1db0e6;
  padding: 10px;
  font-weight: 500;
  font-family: "PTC55F";
  font-size: 16px;
  

}

@media screen and (max-width: 768px) {
  #image1,#image2,#image3,#image4{
      display: none;
  }
}

@media screen and (min-width: 768px) {
.documents-left-z-index{
    position: relative;
    left:40px;
    top: 40px;
    z-index: 1;
}
.documents-right-z-index{
    position: absolute;
    right: 70px;
    top: 40px;
    z-index: 1;
}
.lefttoright{
    position: relative;
    -webkit-animation: leftorightmove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: leftorightmove 2s infinite;
    margin: 0 !important;
    animation-iteration-count: 1;
}
.righttoleft{
    position: relative;
    -webkit-animation: righttoleftmove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: righttoleftmove 2s infinite; 
    margin: 0 !important;
    animation-iteration-count: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes leftorightmove {
    from {left: -100px;opacity: 0;}
    to {left: 50px;opacity: 1;}
}

@keyframes leftorightmove {
    from {left: -100px;opacity: 0}
    to {left: 50px;opacity: 1}
}

@-webkit-keyframes righttoleftmove {
    from {right: -100px;}
    to {right: 50px;}
}

@keyframes righttoleftmove {
    from {right: -100px;}
    to {right: 50px;}
}
  
}