    .payment-bg{
    background: url('/src/assets/images/paymentPages/Payment_BG .jpg') no-repeat; 
    height: 750px;
    width: 100%; 
    background-size: cover;
    background-position:inherit;
   }
   .payment_box{
       background: #fff;
       height: 600px;
       width:80%;
       margin: 6% 13%;
       box-shadow: 16px 15px 0px 0px rgba(0,0,0,0.2);
   }
   .footer-custom-margin{
        margin-top: -2%;
   }
   .payment-sidebar{
        margin-top:2%;
   }
   .payment-list{
       list-style: none;
       text-decoration: none;
       height: 530px;
       padding: 0px;
       border-right: 1px solid #000;
       font-size: 14px;
    }
   .payment-list>li{
       border-bottom: 1px solid #000;
       padding: 5%;
       font-family: "PTC55F";
       font-size: 14px;
   }
   .payment-list>li>a{
       padding:5%;
       text-decoration: none;
       color: #c1c1c1;
       font-family: "PTC55F";
       font-size: 14px;
    

   }
   .custom-forgot-margin{
       margin-left:65%;
   }

    .has-float-label select {
    font-size: inherit;
    padding-top: 1em;
    width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
    }
    .has-float-label > span>a {
        position: absolute;
        left: 332px;
        top: 10px;
        cursor: text;
        font-size: 12px;
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
        color: #1db0e6;
    
    }
    ul.tabs li a.is-active {
        /* margin-bottom: -2px; */
        text-decoration: none;
        /* padding-bottom: 12px; */
        color: #000;
        font-family: "PTC55F";
        font-size: 14px;
    }
    ul.tabs + section.tab-content {
        display: block;
    }
    section.tab-content {
        display: none;
        padding: 0 8px;
    }
  .Payment-login-button {
    border: none;
    background: #1db0e6;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px;
    width: 80%;
    color: white;
    /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);*/
    }  
    .Payment-signup-button {
        border: none;
        background: #1db0e6;
        cursor: pointer;
        border-radius: 3px;
        padding: 8px;
        width: 80%;
        margin: 2% 12%;
        color: white;
     
    }
    .Payment-order-form{
        position: absolute;
        top:10%;
        left:10%;
        width:80%;
    }
    .payment_option_border{
        border-style: none!important;
    }
    .payment-option-box{
        border-radius: 25px!important;
        border:1px solid #bdbec2;
        padding: 20px; 
        width: 100%;
        height: 280px;
    }
    .payment-option-border{
        border-bottom: 1px solid #bdbec2;
        font-size: 16px;
        padding:5% 0%;
        color: #bdbec2;
    }
    .payment-option-padding{
        padding:5% 0%;
        font-size: 16px;
        color: #bdbec2;
    }
    
    .custom-table-padding>tbody>tr>td{
        padding:15px 0px !important;
        font-family: "PTC55F";

    }
    .order_addressbox{
        border: 1px solid #c1c1c1;
    }
    select.classic {
        background-image:
        linear-gradient(45deg, transparent 50%, #1db0e6 50%),
        linear-gradient(135deg, #1db0e6 50%, transparent 50%);
          /* linear-gradient(to right, skyblue, skyblue); */
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
      }

    /* checking for mobile screen width */
    @media screen and (max-width: 768px) {
    .payment_box {
        background: #fff;
        height: 600px;
        width: 80%;
        margin: 6% 13%;
        box-shadow: 16px 15px 0px 0px rgba(0,0,0,0.2);
    }
    .has-float-label > span>a {
        position: absolute;
        left: 104px;
        top: 6px;
        cursor: text;
        font-size: 12px;
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
        color: #1db0e6;
    }
    /* .payment-list{
        list-style: none;
        text-decoration: none;
        height: 170px;
        padding: 0px;
        border-right: 1px solid #000;
     } */
}

/* checking for Form Switch css */
  label {
    cursor:pointer
  }
  #form-switch {
    display:none
  }
  #register-form {
    display:none
  }
  #form-switch:checked~#register-form {
    display:block
  }
  #form-switch:checked~#login-form {
    display:none
  }



  