.login-header-bg{
    background-color: #fff;
  }
  .login-section-bg{
    background: url('/src/assets/images/Login_BG.jpg') no-repeat; 
    height: 580px;
    width: 100%; 
    background-size: cover;
    background-position:inherit;
   }
  .login-button {
    border: none;
    background: #1db0e6;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px;
    width: 100%;
    color: white;
    /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);*/
  }

  .login-logo-margin{
    height: 72px;
  }
  .loginbutton:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  }
  /*.login-questions{
    background: white;
    height: 390px;
    width: 276px;
    display: inline-block;
    margin-left: 15%;
  }*/
  .login_page_logo{
      width: 75px;height: 75px;
  }
  .login-form{
      position: absolute;
      top:10%;
      left:20%;
      width:60%;
  }
  .login_social_icon{
      width: 40px;
      height: 40px;
  }
  
  
  /* Input form css */
  .has-float-label {
    display: block;
    position: relative;
  }
  .has-float-label label, .has-float-label > span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 10px;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    color:#1db0e6; 
  }
  .has-float-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .has-float-label input, .has-float-label select {
    font-size: inherit;
    padding-top: 1em;
     width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .has-float-label input::-webkit-input-placeholder, .has-float-label select::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .has-float-label input::-moz-placeholder, .has-float-label select::-moz-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .has-float-label input:-ms-input-placeholder, .has-float-label select:-ms-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .has-float-label input::placeholder, .has-float-label select::placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .has-float-label input:placeholder-shown:not(:focus)::-webkit-input-placeholder, .has-float-label select:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
  }
  .has-float-label input:placeholder-shown:not(:focus)::-moz-placeholder, .has-float-label select:placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0;
  }
  .has-float-label input:placeholder-shown:not(:focus):-ms-input-placeholder, .has-float-label select:placeholder-shown:not(:focus):-ms-input-placeholder {
    opacity: 0;
  }
  .has-float-label input:placeholder-shown:not(:focus)::placeholder, .has-float-label select:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
  }
  .has-float-label input:placeholder-shown:not(:focus) + *, .has-float-label select:placeholder-shown:not(:focus) + * {
    font-size: 15px;
    opacity: 1.5;
    top: .25em;
    color: #010101;
    font-family: 'Open Sans',sans-serif;
  }
  .has-float-label input:focus, .has-float-label select:focus {
    outline: none;
    border-color: #1db0e6;
  }
  /* Input form css */
  @media screen and (min-width: 768px) {
    .width-60{
      width: 60%!important;
    }
  }  
  /* checking for mobile screen width */
  @media screen and (max-width: 768px) {
    .login-section-bg {
      background: url('/src/assets/images/Login_BG.jpg') no-repeat;
      height: 666px;
      width: 100%;
      background-size: cover;
      }
   
      .has-float-label input, .has-float-label select {
      font-size: inherit;
      padding-top: 1em;
       width: 100%;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      }
    .login-button {
    border: none;
    background: #1db0e6;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px;
    width: 100%;
    color: white;
    /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);*/
    }
    .login-Paper-img{
      margin-top: 10%;
    }
    .Social-icon{
      margin-top: 0%;
    }
    
  }
  /* iPhone 5 & 5S in portrait & landscape */
  /*@media only screen and (min-device-width : 320px){
      .has-float-label input, .has-float-label select {
      font-size: inherit;
      padding-top: 1em;
      width:230px;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      } 
  }*/
  .login-image{
    /* width:87%; */
    margin-left: 4%;
    margin-top:15%
  }
  .register-image{
    width: 100%;
    margin-left: 1%;
    margin-top:10%;
    max-height: auto;
    align-self: auto; 
    object-fit: contain;
  }
  .login-Paper-img{
    position: absolute;
  }
  .login-Paper-imges{
    margin-top: 4%;
    margin-left: 32%;
  }
  #register, 
  #login{
    position: absolute;
  }
  
  /** Styling both forms **/
  #toregister:target ~ #wrapper #register{
      -webkit-animation-name: fadeInDownBig;
      -moz-animation-name: fadeInDownBig;
      -ms-animation-name: fadeInDownBig;
      -o-animation-name: fadeInDownBig;
      animation-name: fadeInDownBig;
      /*-webkit-animation-delay: .1s;
      -moz-animation-delay: .1s;
      -o-animation-delay: .1s;
      -ms-animation-delay: .1s;
       animation-delay: .1s;*/
  }
  #tologin:target ~ #wrapper #login{
    -webkit-animation-name: fadeInUpBig;
    -moz-animation-name: fadeInUpBig;
    -ms-animation-name: fadeInUpBig;
    -o-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    /*-webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    -ms-animation-delay: .1s;
     animation-delay: .1s;*/  
  }
  
  #tologin:target ~ #wrapper #register{
      -webkit-animation-name: fadeOutUpBig;
      -moz-animation-name: fadeOutUpBig;
      -ms-animation-name: fadeOutUpBig;
      -o-animation-name: fadeOutUpBig;
      animation-name: fadeOutUpBig;
  }
  #toregister:target ~ #wrapper #login{
    -webkit-animation-name: fadeOutDownBig;
    -moz-animation-name: fadeOutDownBig;
    -ms-animation-name: fadeOutDownBig;
    -o-animation-name: fadeOutDownBig;
    animation-name: fadeOutDownBig;
  }
  .animate{
      -webkit-animation-duration: 2s;
      -webkit-animation-timing-function: ease;
      -webkit-animation-fill-mode: both;
      
      -moz-animation-duration: 2s;
      -moz-animation-timing-function: ease;
      -moz-animation-fill-mode: both;
      
      -o-animation-duration: 2s;
      -o-animation-timing-function: ease;
      -o-animation-fill-mode: both;
      
      -ms-animation-duration: 2s;
      -ms-animation-timing-function: ease;
      -ms-animation-fill-mode: both;
      
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-fill-mode: both;
  }

  
  
  
  
  