/* *{ 
    font-family: 'Open Sans', sans-serif;  
    border-radius: 0!important;
} */
/* header{
	margin: 0px auto;
	background: #f7f7f7;
} */
.bold{
    font-weight: bold!important;
}
.black{
    color:#000!important;
}


/* font sizes */

.font-8{
    font-size: 8px;
}
.font-12{
    font-size: 12px!important;
}
.font-14{
    font-size: 14px;
}
 .font-16{
    font-size: 16px;
 }
 .font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
    font-weight: 600;
}
.font-22{
    font-size: 22px;
}
.font-34{
    font-size: 34px;
}
.font-40{
    font-size: 40px!important;
}
.font-50{
    font-size: 50px!important;
}

/* margin styles */

.margin-top-0{
    margin-top: 0!important;
}
.margin-top-1{
    margin-top: 1%
}
.margin-top-2{
    margin-top: 2%
}
.margin-top-5{
    margin-top: 5%
}
.margin-top-8{
    margin-top: 8%
}

.margin-top-10{
    margin-top: 10%
}
.margin-top-15{
    margin-top: 15%
}
.margin-top-40{
    margin-top: 40%
}

.margin-bottom-0{
    margin-bottom: 0!important;
}
.margin-bottom-1{
    margin-bottom: 1%;
}
.margin-bottom-2{
    margin-bottom: 2%;
}
.margin-bottom-3{
    margin-bottom: 3%;
}
.margin-bottom-5{
    margin-bottom: 5%;
}
.margin-bottom-8{
    margin-bottom: 8%;
}
.margin-bottom-10{
    margin-bottom: 10%;
}
.margin-bottom-15{
    margin-bottom: 15%;
}
.margin-bottom-30{
    margin-bottom: 30%;
}



.margin-left-2{
    margin-left: 2%;
}
.margin-left-4{
    margin-left: 4%;
}
.margin-left-5{
    margin-left: 5%;
}
.margin-left-10{
    margin-left: 10%;
}

.margin-right-1{
    margin-right: 1%;
}
.margin-right-2{
    margin-right: 2%;
}
.margin-right-3{
    margin-right: 3%;
}
.margin-right-4{
    margin-right: 4%;
}
.margin-right-5{
    margin-right: 5%;
}
.margin-right-10{
    margin-right: 10%;
}
/* Padding styles */

.padding-3{
    padding:3%!important;
}
.padding-5{
    padding:5%!important;
}
.padding-none{
    padding:0;
}
.padding-12{
    padding-top: 12%;
}
/* external font styles */
@font-face {
    font-family: stag-Black;
    src: url(/fonts/Stag-Black.otf);
}
@font-face {
    font-family: stag-BlackItalic;
    src: url(/fonts/Stag-BlackItalic.otf);
}
@font-face {
    font-family: stag-Bold;
    src: url(/fonts/Stag-Bold.otf);
}
@font-face {
    font-family: stag-BoldItalic;
    src: url(/fonts/Stag-BoldItalic.otf);
}
@font-face {
    font-family: stag-Book;
    src: url(/fonts/Stag-Book.otf);
}
@font-face {
    font-family: stag-BookItalic;
    src: url(/fonts/Stag-BookItalic.otf);
}
@font-face {
    font-family: stag-Light;
    src: url(/fonts/Stag-Light.otf);
}
@font-face {
    font-family: stag-LightItalic;
    src: url(/fonts/Stag-LightItalic.otf);
}
@font-face {
    font-family: stag-Medium;
    src: url(/fonts/Stag-Medium.otf);
}
@font-face {
    font-family: stag-MediumItalic;
    src: url(/fonts/Stag-MediumItalic.otf);
}
@font-face {
    font-family: stag-Semibold;
    src: url(/fonts/Stag-Semibold.otf);
}
@font-face {
    font-family: stag-SemiboldItalic;
    src: url(/fonts/Stag-SemiboldItalic.otf);
}
@font-face {
    font-family: stag-Thin;
    src: url(/fonts/Stag-Thin.otf);
}
@font-face {
    font-family: stag-ThinItalic;
    src: url(/fonts/Stag-ThinItalic.otf);
}

/*  font family */
@font-face{
    font-family: "PTC55F";
    src:url("/css/fonts/pt-sans/PTC55F.ttf");
}
@font-face{
    font-family: "PTC75F";
    src:url("/css/fonts/pt-sans/PTC75F.ttf");
}
@font-face{
    font-family: "PTN57F";
    src:url("/css/fonts/pt-sans/PTN57F.ttf");
}
@font-face{
    font-family: "PTN77F";
    src:url("/css/fonts/pt-sans/PTN77F.ttf");
}
@font-face{
    font-family: "PTS55F";
    src:url("/css/fonts/pt-sans/PTS55F.ttf");
}
@font-face{
    font-family: "PTS56F";
    src:url("/css/fonts/pt-sans/PTS56F.ttf");
}
@font-face{
    font-family: "PTS75F";
    src:url("/css/fonts/pt-sans/PTS75F.ttf");
}
@font-face{
    font-family: "PTS76F";
    src:url("/css/fonts/pt-sans/PTS76F.ttf");
}




/* Common font color */
.font-color-1db0e6{
    color:#1db0e6 !important; 
}
.font-color-fff{
    color: #fff;
}
.font-color-8c8a8b{
    color: #8c8a8b;
}
.font-color-bdbec2{
    color: #bdbec2;
}


/* Common font weight */
.font-weight-600{
    font-weight: 600;
}

/* Common font family */
 .normal-ptsans-font{
    font-family: "PTC55F";
 }
 .bold-ptsans-font{
    font-family: "PTN77F"; 
 }
/* Common backgroug color */

.bg-white{
    background-color: #fff;
}
.bg-0c385b{
    background-color: #0c385b;
}
.errorField{
    color: red!important;
    text-align:left!important;
    font-size:14px!important;
    width:100%!important;
}
.margin{
    margin: 2%;
}